In [1]:
# Dependencies
import pandas as pd

In [2]:
# File to Load
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete_df = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete_df.head()

,Student ID,student_name,gender,year,school_name,reading_score,maths_score,School ID,type,size,budget
0,0,Paul Bradley,M,9,Huang High School,96,94,0,Government,2917,1910635
1,1,Victor Smith,M,12,Huang High School,90,43,0,Government,2917,1910635
2,2,Kevin Rodriguez,M,12,Huang High School,41,76,0,Government,2917,1910635
3,3,Richard Scott,M,12,Huang High School,89,86,0,Government,2917,1910635
4,4,Bonnie Ray,F,9,Huang High School,87,69,0,Government,2917,1910635

In [3]:
#Calculate the total number of schools
total_schools = len(school_data_complete_df["school_name"].unique())
total_schools

15

In [4]:
#Calculate the total number of students

count_student = school_data_complete_df["student_name"].value_counts()
total_students = count_student.sum()

total_students

39170

In [5]:
#Identify each budget from different schools
school_group = school_data_complete_df.groupby(["school_name"])
average_budget_df= pd.DataFrame(school_group["budget"].mean())
#average_budget_df

#Calculate the total budget
total_budget= average_budget_df["budget"].sum()

total_budget

24649428.0

In [6]:
#Calculate the average maths score

average_maths = school_data_complete_df["maths_score"].mean()
average_maths

70.33819249425581

In [7]:
#Calculate the average reading score
average_reading_score = school_data_complete_df["reading_score"].mean()
average_reading_score

69.98013786060761

In [8]:
#Calculate the percentage of students with a passing maths score (50 or greater)
pass_maths_df = school_data_complete_df.loc[school_data_complete_df["maths_score"] >= 50]

pass_maths_percentage= round((len(pass_maths_df)/total_students)*100,6)
pass_maths_percentage

86.078632

In [9]:
#Calculate the percentage of students with a passing reading score  (50 or greater)
pass_reading_df = school_data_complete_df.loc[school_data_complete_df["reading_score"] >= 50]

pass_reading_percentage= round((len(pass_reading_df)/total_students)*100,6)
pass_reading_percentage

84.426857

In [10]:
#Create new dataframe for students over 50 scores
pass_students_df = pd.DataFrame(
    school_data_complete_df.loc[
        (school_data_complete_df["maths_score"]>=50) &   
        (school_data_complete_df["reading_score"]>=50),
        ["student_name","maths_score","reading_score"]])
#pass_students_df .head() 

#Calculate the percentage of students who passed maths and reading
pass_students_total = round((len(pass_students_df)/total_students)*100,6)
pass_students_total

72.808272

In [11]:
#Create a dataframe to hold the above results
area_summary = pd.DataFrame({"Total Schools":[total_schools], "Total Students":[total_students], "Total Budget":[total_budget],
                             "Average Maths Score":[average_maths], "Average Reading Score":[average_reading_score],
                           "% Passing Maths":[pass_maths_percentage], "% Passing Reading": [pass_reading_percentage],
                            "% Overall Passing": [pass_students_total]})
area_summary

,Total Schools,Total Students,Total Budget,Average Maths Score,Average Reading Score,% Passing Maths,% Passing Reading,% Overall Passing
0,15,39170,24649428.0,70.338192,69.980138,86.078632,84.426857,72.808272

In [12]:
#Change format
area_summary["Total Students"] = area_summary["Total Students"].map("{:,}".format)
area_summary["Total Budget"] = area_summary["Total Budget"].map("${:,.2f}".format)
area_summary

,Total Schools,Total Students,Total Budget,Average Maths Score,Average Reading Score,% Passing Maths,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",70.338192,69.980138,86.078632,84.426857,72.808272